{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

<div class="row" style="padding: 40px 0;">
    <div class="col-lg-3 col-sm-12 posts-categories">
        <h3 class="text-center">Catégories</h3>
        <ul class="list-group">
            {% for category in categories %}
                <a href="{{ path('show_posts', {'id':category.id}) }}" style="text-decoration: none; color: #000;">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ category.title }}
                        <span class="badge bg-primary rounded-pill">{{ category.posts | length }} article(s)</span>
                    </li>
                </a>
            {% endfor %}
            <a href="{{ path('posts') }}" style="text-decoration: none; color: #000;">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Tous les articles
                    <span class="badge bg-primary rounded-pill">{{ allPosts | length }} article(s)</span>
                </li>
            </a>
        </ul>
    </div>
    <div class="col-lg-9 col-sm-12 posts-posts">
        {# <h3 class="text-center">Articles</h3> #}
        <div class="row justify-content-center align-items-center">
        <h1 class="text-center">Les articles</h1>
        {% for post in posts %}
            <div class="card" style="width: 18rem; margin: 20px; padding: 5px; border: 2px solid #000; color: #000; box-shadow: 4px 4px 4px #000;">
                <img src="/assets/images/posts/{{ post.image }}" class="card-img-top" alt="{{ post.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <small>Le {{ post.createdAt | date("d/m/Y") }} à {{ post.createdAt | date("H:i") }}</small>
                    <hr>
                    <a href="{{ path('show', {'id':post.id}) }}" class="btn btn-primary">VOIR</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
