{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="title p-1">{{ post.title }}</h1>
        <small>Le {{ post.createdAt | date("d/m/Y") }} à {{ post.createdAt | date("H:i") }}</small>
        <div class="img-fluid">
            <img width="100%" src="/assets/images/posts/{{ post.image }}" alt="{{ post.title }}">
        </div>
        
        <p class="content text-justify">
            {{ post.content | raw }}
        </p>
    </div>

{% endblock %}
